<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marias"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.marias.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.marias.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.marias.Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.marias.Start"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.marias.Settings"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.marias.MySimpleArrayAdapter"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MYSIMPLEARRAYADAPTER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name="com.example.marias.Continue"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CONTINUE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name="com.example.marias.Marathon"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MARATHON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        
        <activity
            android:name="com.example.marias.Statistics"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.STATISTICS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name="com.example.marias.Exit"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.EXIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.marias.DbHelper"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DBHELPER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.marias.Question"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.QUESTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.marias.ResultActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.RESULTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
             
    </application>

</manifest>